@tailwind base;
@tailwind components;
@tailwind utilities;

/*Installing fonts as per spec*/
@font-face {
  font-family: "Lato";
  src: url("./assets/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Ondo";
  src: url("./assets/OndoFont/FONTSPRINGDEMO-OndoRegular.ttf");
}

.logo-gradient{
  fill:  url("assets/logo-gradient.png");
}

/* Custom CSS for the gradient border on certain buttons*/
.gradient-border {
  border-image: linear-gradient(to right,  #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

